body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aquamarine;
    color: rgb(13, 95, 95);
    font-family: cursive;

}
.container{
    display: flex;
    text-align: center;
}
.mouse-event {
    border: solid 1px rgb(45, 133, 74);
    margin: 40px;
    min-width: 180px;
    min-height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;}
.mouse-event h4 {
    position: absolute;
    top: -50px;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-weight: 100;
    
}
@media (max-width: 500px) {
    .container{
        flex-direction: column;
    }
}